@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    font-family: 'Open Sans', serif;
}

.hero.is-info {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('https://picsum.photos/id/123/1200/900') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero .nav,
.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}

.has-background-transparent {
    background-color: transparent !important;
}

.navbar-item:hover {
    background-color: transparent !important;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.features {
    padding: 5rem 0;
}

.card-image>.fa,
.fas,
.far {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}

.is-shady {
    animation: flyintoright .4s backwards;
    box-shadow: rgba(0, 0, 0, .1) 1 2px 1;
    transition: all .3s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.card {
    height: 100%;
}
